package templates

templ Layout(name string) {
    <!DOCTYPE html>
    <html>
      <head>
        <title>Tick</title>
        <script src="https://cdn.tailwindcss.com"></script>
      </head>
      <body class="bg-gray-900 text-white">
        <header class="bg-green-400 p-4">
          <h1 class="text-xl font-bold text-gray-900">Tick</h1>
        </header>
      </body>
    </html>
}
